<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Dashboard</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <h1>Search for keyword in X [formerly Twitter]</h1>
    <div>

        <input type="text" id="search-query" placeholder="Search for a word...">
        <button onclick="searchTweets()">Search</button>
    </div>

    <table id="tweets-table" class="display">
        <thead>
            <tr>
                <th>Date</th>
                <th>UserID</th>
                <th>Username</th>
                <th>Tweet</th>
                <th>Impressions</th>
                <th>Retweets</th>
                <th>Likes</th>
                <th>Comments</th>
                <th>Quotes</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <canvas id="likesChart" width="400" height="200"></canvas>
    <canvas id="retweetsChart" width="400" height="200"></canvas>


</body>

</html>








<!-- commented -->

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pull Posts from X [Formerly Twitter]</title>
    <link href:"{{ url_for('static', filename='./styles.css' )}}" rel="stylesheet" />
</head>

<body>
    <h1>Pull posts from X</h1>
    <form action="/posts" class="action">
        <input type="text" name="posts" id="posts" placeholder="Enter key word">
        <button type="submit">Search</button>
    </form>
</body>

</html> -->